<div class="d-flex align-items-center justify-content-center">
    <div>
        <h1>Welcome to Linktree!!!</h1>
        <h2>Here you can see people's profiles with links to their twitter and linkedin</h2>
    </div>
</div>